.form__container__div {
  border-bottom: 3px solid gray;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__container__namelabel {
  font-size: 16px;
  width: 30%;
}

.form__container__label {
  font-size: 16px;
}

.form__container__input {
  border-style: none;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 5px;
}

.form__container__textarea:focus,
.form__container__input:focus,
.form__container__inputalt:focus,
.form__container__nameinput:focus {
  outline: none;
  border: none;
}
